@keyframes rainbow {
  0% { color: red; }
  10% { color: orange; }
  20% { color: yellow; }
  30% { color: green; }
  40% { color: blue; }
  50% { color: indigo; }
  60% { color: violet; }
  70% { color: purple; }
  80% { color: pink; }
  90% { color: cyan; }
  100% { color: red; }
}


@keyframes rainbow2 {
  
  0% { color: gray;}
  20% { color: blue;}
  40% { color: cyan; }
  60% { color: gray;}
  80% { color: cyan; }
  100% { color: gray;}
  
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.container1 {
  position: relative;
  overflow: hidden;
  width: 400px; /* Ubah lebar sesuai kebutuhan Anda */
  height: 30px; /* Ubah tinggi sesuai kebutuhan Anda */
  border: 1px solid #ccc; /* Hapus jika tidak diperlukan */
}

.text {
  position: absolute;
  animation: rainbow 5s linear infinite, slide 10s linear infinite;
  white-space: nowrap;
  font-size: 19.3px;
  line-height: 23px; /* Sesuaikan dengan tinggi kotak */
}

a {
  animation: rainbow2 3s linear infinite;
  white-space: nowrap;
  font-size: 12px;
  
}

body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
    }
    
    table {
      border-collapse: collapse;
      width: auto;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    

    h1 {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
    }

    h5 {
      margin-top: 2px;
      text-align: center;
      font-size: 10px;
    }

    h6 {
      margin-top: 4px;
      text-align: center;
      font-size: 10px;
    }

    hr {
      margin-top: 4px;
      border: none;
      border-top: 1px solid #ddd;
    }

    p {
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
      margin: 10px 0;
      padding: 0 5px;
    }

    

    .container {
      display: flex;
      flex-direction: row;
      padding-top:  10px;
      box-sizing: border-box;
    }

    .container > div {
      flex: 1 1 calc(50% - 20px);
      margin-right: 0;
      margin-bottom: 0;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0;
    }

    #kataKunci {
      width: 100%;
      box-sizing: border-box;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      margin-bottom: 10px;
    }


    .button1 {
      background-color: #4caf50;
      color: #fff;
      border-radius: 4px;
      padding: 10px 25px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      margin: auto;
    }

    .button1:hover {
      background-color: #ffa049;
    }
    
    

    .disclaimer {
      font-style: italic;
      color: #FF0000;
      padding: 0 20px;
      margin-bottom: 20px;
    }

   #myText {
      display: none;
    }
    
    
  #toggleButton {
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
  }
  
  .button2 {
      padding: 1px 3px;
      font-size: 20px;
      
    }
